.container {
  display: flex;
  border: 1px solid var(--lwc-colorBorder, #ddd);
}

.splitter {
  flex-basis: 0.5%;
  background: var(--lwc-colorBackground, #e5e5e5);
  cursor: col-resize;
  touch-action: none;
  user-select: none;
}

.width_full {
  width: 100%;
}

.text_align_center {
  text-align: center;
}

.table_header {
  background-color: #f4f6f9;
  position: sticky;
  top: 0;
}
